         <!-- 	<div class="xax">
            <h1 id="llooll">Shadow Tactics: Blades of the Shogun v1.4.4.f</h1>
            <img title="Shadow Tactics" width="491px" class="imig" src="Images/shadow-tactics-blades-of-the-shogun.jpg">
            <p class="p">
            Shadow Tactics: Blades of the Shogun - это тактическая игра, ориентированная на стелс прохождение, с японским духом. Геймплей схож с играми серии Commandos. Только действия Shadow Tactics происходят в Японии XVII века. Вы в роли лорда Каге должны свергнуть действующего сегуна и прийти ко власти. Для этого вы собираете профессиональный отряд из пяти людей, каждый из которых обладает своими особыми навыками. Теперь в вашем отряде есть ниндзя Хаято, самурай Муген, мастер перевоплощений Аико, способная превращаться в гейшу, мастер ловушек Юки и снайпер Такума. С такой командой вы точно на многое способны. Но чтобы все эти совершенно разные люди со своими тараканами подружились - придется постараться. А еще придется постараться, чтобы уничтожить своих врагов тихо и эффективно. Но если вы будете хорошо продумывать свои ходы, то с такой командой это точно не станет проблемой.</p>
            <a class="a" title="Shadow Tactics: Blades of the Shogun" href="Torrent/NSUNS4.torrent"> скачать Torrent</a>
            </div> -->